@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "Aboutus Page";
}

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h1 class="section-title position-relative text-center mb-5">Traditional & Delicious Food Since 1990</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 py-5">
                <h4 class="font-weight-bold mb-3">About Us</h4>
                <h5 class="text-muted mb-3">Hello and Welcome to our restaurant! Right Ingredients for the Right Food</h5>
                <p>Your experience of starting the journey and continuing it with excellence over the years will have to be included in the page. -The different cuisines available in your restaurants must be clearly mentioned on the page so that customers can easily understand your specialization.</p>
                <a href="/Home/Index" class="btn btn-secondary mt-2">Learn More</a>
            </div>
            <div class="col-lg-4" style="min-height: 400px;">
                <div class="position-relative h-100 rounded overflow-hidden">
                    <img class="position-absolute w-100 h-100" src="~/foodpics/image/s6.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4 py-5">
                <h4 class="font-weight-bold mb-3">Our Features</h4>
                <p>We pride ourselves on delivering more than just ice cream. Our features ensure a superior experience every time you visit us.</p>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Artisanal Craftsmanship</h5>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Fresh, Quality Ingredients</h5>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Innovative Flavors</h5>
                <a href="/Home/Index" class="btn btn-primary mt-2">Learn More</a>
            </div>
        </div>
    </div>
</div>

<!-- About End -->
<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="section-title position-relative mb-5">Experienced & Most Famous Food Chefs</h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel team-carousel">
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="~/foodpics/image/chef-detail.png" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-warning rounded px-4 py-5" style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">
                                CHef Zakir Qureshi Siddique
                            </h3>
                            <h6 class="text-uppercase text-muted mb-4">
                                Executive Chef
                            </h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="https://pk.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="~/foodpics/dammoimage/chefupdgrade.png" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-warning rounded px-4 py-5" style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">
                                CHef Zarnak Sidhwa
                            </h3>
                            <h6 class="text-uppercase text-muted mb-4">
                                Head Chef
                            </h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="https://pk.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="~/foodpics/dammoimage/kisspng-cook-chef-s-uniform-stock-photography-chef-png-5b5ebd28bab2d9.0791794915329354647647-removebg-preview.png" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-warning rounded px-4 py-5" style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">
                                CHef Areeba Mumtaz
                            </h3>
                            <h6 class="text-uppercase text-muted mb-4">
                                Deputy Chef
                            </h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="https://pk.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-img mx-auto">
                            <img class="rounded-circle w-100 h-100" src="~/foodpics/image/chef-detail.png" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-warning rounded px-4 py-5" style="margin-top: -100px;">
                            <h3 class="font-weight-bold mt-5 mb-3 pt-5">Anwar Ali Ahmed Baig</h3>
                            <h6 class="text-uppercase text-muted mb-4">Head of Chef</h6>
                            <div class="d-flex justify-content-center pt-1">
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->