@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "Services Page";
}
<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="section-title position-relative mb-5">Our Premium Services</h1>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel service-carousel">
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="~/foodpics/image/blogbro.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">
                                A Culinary Journey with Chef Dennis
                            </h5>
                            <p>
                                Easy to make Restaurant Style tricks to make your time !

                            </p>
                            @* <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Discover More</a> *@
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="~/foodpics/image/blog3.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">
                                Sallys Baking Addiction and How Eats
                            </h5>
                            <p>All things baking with options to browse Delicious-looking recipes.</p>
                           @*  <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Learn More</a> *@
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="~/foodpics/image/blogbro2.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">
                                Love and Lemons and Budget Bytes
                            </h5>
                            <p>Colorful recipes with seasonal food—often with a twist of lemon</p>
                         @*    <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Learn More</a> *@
                        </div>
                    </div>
                    <div class="service-item">
                        <div class="service-img mx-auto">
                            <img class="rounded-circle w-100 h-100 bg-light p-3" src="~/foodpics/image/blog4.jpg" style="object-fit: cover;">
                        </div>
                        <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
                            <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">
                                Two Peas and Chef's Pencil
                            </h5>
                            <p>recipes, meal plans, lifestyle, and with almost 200 cookie recipes</p>
                          @*   <a href="" class="border-bottom border-secondary text-decoration-none text-secondary">Order Now</a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
<!-- Services End -->
<!-- Testimonial Start -->


<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5">Clients Say About Our Famous Foods</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonial-carousel">
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                        <img class="img-fluid mx-auto mb-3" src="~/layout/img/testimonial-1.jpg" alt="">
                        <h5 class="font-weight-bold m-0">MOIZ</h5>
                        <span>Profession</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                        <img class="img-fluid mx-auto mb-3" src="~/layout/img/testimonial-2.jpg" alt="">
                        <h5 class="font-weight-bold m-0">ASIF</h5>
                        <span>Profession</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</h4>
                        <img class="img-fluid mx-auto mb-3" src="~/layout/img/testimonial-3.jpg" alt="">
                        <h5 class="font-weight-bold m-0">DANISH</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Testimonial End -->"